/* 1rem is 16px */

.dave-background {
  padding-top: 3rem;
  height: 100vh;
  width: 100%;
  /* max-width: 1440px; */
  background: url("../../assets/images/backgroundOne.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  /* max-height: 757px !important; */
  max-width: 1440px;
  position: relative;
}

.dave-background-inner {
  position: absolute;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  /* max-width: 1440px; */
  width: 100%;
}

.dave-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dave-home {
  margin: 0% 8%;
}

.dave-list-icons img {
  position: absolute;
}

.dave-list-icons img:nth-child(1) {
  top: 257px;
  left: 585px;
}

.dave-list-icons img:nth-child(2) {
  top: 201px;
  left: 356px;
}

.dave-list-icons img:nth-child(3) {
  top: 387px;
  left: 595px;
}

.dave-list-icons img:nth-child(4) {
  top: 537px;
  left: 475px;
}

.dave-circle {
  padding: 0 15%;
  max-width: 634px;
  width: 100%;
}

.dave-name {
  overflow: hidden; 
  /* width: 188px; */
  /* border-right: 0.15em solid #252791; The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em;
  z-index: inherit;
}

.dave-name h3 {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  /* line-height: 36px; */
}

.dave-circle h4 {
  color: #f44336;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  /* line-height: 36px; */
  margin: 0;
}

@keyframes typing {
  from {
    width: 0;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: #000c24;
  }
  50% {
    border-color: transparent;
  }
}

.dave-seat {
  position: relative;
  width: 100%;
  max-width: 546px;
  height: 428px;
}

.scroll {
  position: relative;
}

.dave-spreadBg {
  position: absolute;
  z-index: -1;
  width: 100%;
  max-width: 837px;
  top: 320px;
}

.dave-about {
  padding: 0% 8%;
  padding-bottom: 14%;
  /* top: 810px; */
  /* margin-left: 120px; */
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
  column-gap: 25px; */
}

.david-img {
  width: 60%;
  /* max-width: 425px; */
  height: auto;
}

.dave-about-article {
  padding-top: 54px;
}

.dave-heading {
  /* font-family: Spartan; */
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 36px;
  color: #f44336;
}

.dave-paragraph {
  font-size: 1rem;
  line-height: 170%;
  color: #000c24;
}

.dave-btn a,
.dave-btn button {
  background-color: #000c24;
  border-radius: 4px;
  color: #ffffff;
  padding: 15px 32px;
  text-decoration: none;
  border: none;
}

.dave-btn a:hover,
.dave-btn button:hover {
  background-color: rgba(146, 138, 151, 1);
}

.blue-splash {
  position: absolute;
  margin-left: 412px;
  margin-top: 890px;
}

.skills {
  padding: 0% 8%;
  padding-bottom: 4%;
  position: relative;
}

.laptop {
  width: 60%;
  height: auto;
}

.dave-alert {
  color: red;
  margin: 0;
}

/* For Tabs and Desktop */
@media screen and (min-width: 500px) {
  .dave-circle {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 15%;
    max-width: 634px;
    height: 602px;
    width: 100%;
  }

  .dave-background {
    height: 80vh;
    padding-top: 0;
  }

  .dave-background-inner {
    height: 80vh; 
  }

  .dave-name h3 {
    font-size: 28px;
    line-height: 36px;
  }
  
  .dave-circle h4 {
    font-size: 30px;
    line-height: 36px;
  }

  .dave-about {
    padding-bottom: 8%;
  }

}

@media screen and (max-width: 460px) {
}

@media screen and (max-width: 700px) {
  .skills-progress {
    gap: 1px;
  }

  /* .hams {
    display: block;
    position: absolute;
  }

  .mobile-title {
    display: block;
    position: absolute;
  }

  .mobile-header {
    display: flex;
    justify-content: flex-end;
  } */


  /* .dave-header-list ul li:last-child {
    margin-right: 15px !important;
  } */

  .dave-list-icons img:nth-child(1) {
    top: 178px;
    left: 289px;
  }

  .dave-list-icons img:nth-child(2) {
    top: 123px;
    left: 234px;
  }

  .dave-list-icons img:nth-child(3) {
    top: 287px;
    left: 297px;
  }

  .dave-list-icons img:nth-child(4) {
    top: 345px;
    left: 237px;
  }
}
